input, textarea, select{
	display: block;
	width: 100%;
	color: $c-grey;
	background: $c-grey-light;
	border: 1px solid $c-border;
	padding: 0 20px;
	font-family: 'Nunito Sans', sans-serif;
	border-radius: 6px;
	font-size: 17px;
	&:focus{
		outline: none;
		border: 1px solid $c-select;
	}
	&::-webkit-input-placeholder {
		color:  #B9BDC3;     
		font-size: 17px;
	}
	&::-moz-placeholder{
		color:  #B9BDC3;
		font-size: 17px;
	}/* Firefox 19+ */
	&:-moz-placeholder{
		color:  #B9BDC3;
		font-size: 17px;
	}/* Firefox 18- */
	&:-ms-input-placeholder{
		color: #B9BDC3;         
		font-size: 17px;  
	}
}
input{
	height: 50px;
	line-height: 25px;
}

select {
	border-radius: 4px;
	font-size: 17px;
	color:  #B9BDC3;
	width: 100%;
	height: 50px;
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance: none;
	cursor: pointer;
	z-index: 2;
	background: transparent;
	position: relative;
}
select::-ms-expand {
	display: none;
}

label{
	font-size: 14px;
	font-weight: bold;
}

.inp{
	&-wrap{
		margin-bottom: 20px;
		//width: 100%;
		flex: 1;
		&:first-child{
			margin-right: 20px;
		}
	}
	&-group{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

textarea{
	resize: vertical;
	padding: 20px 30px;
	max-height: 140px;
	overflow: auto;
}

@media screen and (max-width: 760px){
	.inp-group{
		display: block;
	}
}