$c-main: #282b31;
$c-inverse: #fff;
$c-border: #E7E8EA;
$c-grey: #676C75;
$c-grey2: #999ea8;
$c-select: #b9bdc3;
$c-grey-light: #F8F9FA;
$c-lnk: #469AF4;
$c-grad1:  linear-gradient(135deg, rgba(255,141,100,1) 0%, rgba(255,230,65,1) 100%);
$c-grad2:  linear-gradient(135deg, rgba(0,158,197,1) 0%, rgba(60,236,177,1) 100%);
$c-grad3: linear-gradient(to bottom, rgba(181,46,181,1) 0%, rgba(250,94,143,1) 100%);
$c-grad4: linear-gradient(to right, #7956ec 0%, #2fb9f8 100%);
$c-shadow: rgba(32, 33, 39, 0.12);

